body, .main , .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    min-height: 100vh;
    background: #4a98f7;
}
.main {
    width: 440px;
    background: #fff;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 30px 40px;
}
.main img{
    max-width: 100px;
}
.main h1{
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0;
}
.main .content{
    width: 100%;
    justify-content: space-between;
}
.main .content.disable{
    opacity: 0.6;
    pointer-events: none;
}
.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px);

}
.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
}
.main button{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding: 17px 0;
    border-radius: 5px;
    background: #4a98f7;
}